
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --2sec-img: url('/assets/2sec/2secbg.png');
  --3sec-img: url('/assets/3sec/3secbg.png');
  --3sec-card: url('/assets/3sec/cartbg.png');
  --road-bg:url('/assets/roadmap/bg1.png');
  --token-bg:url('/assets/token/bg.png');
  --dragon-bg:url('/assets/dragon/bg.png');
  --team-bg:url('/assets/team/teambg.png');
  --faqs-bg:url('/assets/faqs/faqsbg.png');
  --footer-bg:url('/assets/footer.png');
  --buy-bg:url('/assets/buy/buybg.png');
  --card-bg:url('/assets/buy/card1.png');
  --card2-bg:url('/assets/buy/card2.png');
  --card3-bg:url('/assets/buy/card3.png');
}
body {
  font-family: var(--font-inter), sans-serif;
}
@font-face {
  font-family: 'DragonSlapper';
  src: url('/fonts/dragonslapper.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}
.bg-sec2-image::before {
  filter: brightness(10%);
  
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
/* }

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
